@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#root {
    background-color: #e0e1dd;   
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

.navItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    font-size: 18px;

}

.webHeader {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 2rem;
}

.button {
    font-size: 20px;
    display: flex;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.numero {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 5px;
}