.Contador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.Controladores{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}